.share-btn {
    cursor: pointer;
}
li{
    list-style: none;
    background: #e2e2e2;
    margin-left: 5px;
    text-align: center;
    border-radius:5px;
}
li span{
    font-size: 20px;
}
ul li{
    display: inline-block;
    padding: 10px 10px 5px;
}
#social-links{

    display:none;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
    position: absolute;
    margin-top: -49px;
}
